#ytplayer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 99;
    height: 65px;
    margin: 0px;
}

.none {
    color: #ccc;
    height: 100%;
    z-index: 999;
}

.movie {
    z-index: 99 !important;
    float: left;
    position: relative;
    bottom: 25px;
    left: 10px;
    border: 1px solid #fff;
    background-color: gray;
    max-width: 120px;
    max-height: 76px;
    transition: all .1s ease-in-out;

}

.movie:hover {
    max-width: 600px;
    max-height: 340px;
    bottom: 285px;
    z-index: 99 !important;
}

.full_screen {
    left: 0px;
    bottom: 60px;
    position: fixed;
    max-width: 100vw;
    width: 100vw;
    min-height: 93vh;
}

.player-toggle-button {
    min-width: 80px;
    min-height: 20px;
    position: fixed;
    padding: 5px 0 !important;
    bottom: 14px;
    left: 140px
}

.player_title {
    /* margin-top: 5px; */
 
    bottom: 40px;
    position: fixed;
    left: 140px;
    font: 800 !important;
    font-size: 1em;
    color: white;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.movie_box{
    z-index: 90;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .movie:hover {
        max-width: 120px;
        max-height: 76px;
        bottom: 25px;
        z-index: 99 !important;
    }
    .player_title {
        max-width: 50vw;
    }
}

#play_button{
    top: 8px;
    float: right;
    right: 3vw;
    cursor: pointer;
}