
.back {
    margin-bottom: 25px !important;
}


.list_description>pre {
    font-size: 16px;
    line-height: 1.4;
    white-space: pre-wrap;
    /* 防止overflow */
}

.play {
    margin-bottom: 10px !important;
}

.play_text {
    text-align: center;
    margin-top: 30px;

}



.play_text>:first-child {
    text-decoration: underline;
    font-weight: bold;
}

.play_text>:first-child:hover {
    color: #4183c4 !important;
}


.play_button {
    background-color: #f0f2f5 !important;
    padding: 5px !important;

}

.play_button:hover {
    background-color: #cacbcd !important;

}
.track{
    border-bottom:1px solid #ccc;
}
.track>p {
    margin: 0;
}

.playlist_img {
    position: absolute;
    border: 1px solid #ccc;
    float: left;
    max-height: 55px;
    margin: auto 0;
}

.playlist_info {
    position: relative;
    left: 10px;
    padding-top: 8px;
    text-align: left;

}

.playlist_info>p {
    color: rgba(0, 0, 0, .6) !important;
    margin: 0px;

    z-index: 1;
    float: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.playlist_info>h4 {
    color: rgba(0, 0, 0, .9) !important;
    margin: 0px;
    max-width: 88% !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.siderbar_icon {
    left: 12px;
    float: right;
    position: relative;
    bottom: 8px;
    padding-right: 10px;
}


@media screen and (max-width: 450px) {
    .playlist_info>h4 {
        max-width: 220px;
    }

    .playlist_info>p {
        max-width: 220px;
    }

    .playlist_img {
        max-height: 50px;
    }

    .play_icon {
        min-width: 45px;
        min-height: 45px;

    }

}

@media screen and (max-width: 320px) {
    .playlist_info>p {
        max-width: 150px;
        font-size: 0.8em;
    }

    .playlist_info>p {
        max-width: 140px !important;
        font-size: 0.8em !important;
    }

    .playlist_img {
        max-height: 40px;
    }
}

.list_owner {

    font-weight: bold;
    text-decoration: underline;
}

.list_owner:hover {
    text-decoration: underline;
    color: #4183c4 !important;
}

.list_text {
    padding-top: 10px;

}

.play_Icon{
    float: left;
    top:16px;
    padding-right: 3px;
    margin: 3px;
    
}

.refresh_buton{
    display: none !important;
}

/* .sidebar{
    background-color: yellowgreen;

    margin-left: 525px;
    margin-bottom: 60px;
    width: 200px;
    height: 86px;
    position: relative;
} */

.sidebar_button{
    background-color: #4183c4;

    width: 250px;
    height: 120px;
    left: 500px;
    position: absolute;
}