h1{
    font-size: 28px;
    font-weight: bold !important;
}

a{
    color:black !important;
}
.row{

    margin-left: 0px !important;
    margin-right: 0px !important; 

}
.header{
    padding: 30px;
    background-color: #f0f2f5
}
.header>h1{
    margin: 30px
}

.ui.input {
    width: 100%;
}