html{
    height: 100%;
}
body{
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}
#app{
    flex:1 !important;
}

h1{
    font-size: 28px;
    font-weight: bold !important;
}

.link{
    color:black !important;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important; 


}
.container_header{
    padding-top: 60px !important;
    margin-bottom:100px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: #f0f2f5
}
.header>h1{
    padding: 10px;
}

.ui.input {
    width: 100%;
}
.errMsg{
    color: red;
    text-align: center;
    padding: 15px;
}
.loader{
    margin-top: 100px !important;
}

.ui.button:hover{
    color: #2185d0;
}

.refresh_button{
    display: none ;
    position: absolute;
    top: 40vh;
    left: 50vw;
    margin-top: -100px !important;
    margin-left: -60px !important;
}
.refresh_button >h2{
    text-align: center;
    color: red;

}