.img{
    position: absolute;
    background-size:cover;
    border-bottom: 1.2px solid #666;
    position:absolute;
    z-index: 3;
   
}
.playlist{
    z-index: 3;
    border: 1.2px solid #666;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #fff;
}
.playlist>a{
    text-decoration: none;
  
}

.playlist:hover{
    background-color:#F0F0F0;
    cursor:pointer;
    filter:brightness(102%);
    box-shadow:0px 0px 10px 4px rgba(0,0,0,0.3);
    transition:all .1s
}
.ui.grid>.row{
    margin: 0 30px;
}
.textbox{
    height: 300px;
}
.title{
    height: 100%;
    padding-right: 65px;
    position: relative;
    padding-left: 10px;
    bottom: 23px;
    
}
.title>a:hover{
    
    color: #4183c4 !important;
}
.text{
    padding:5px 10px 15px;
}
.description
{
    padding:10px 10px;
}
.description>p{
    font-size: 16px;
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.text>p{
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

}
.text>:first-child{
    text-decoration: underline;
    font-weight:bold;
}
.text>:first-child:hover{
    color: #4183c4 !important;
}

.icon{
    position: relative;
    border-radius: 8px;
    left:215px;
    bottom: 18px;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    z-index: 4;
    border: 1.2px solid white;
    background-color:#F0F0F0 !important;
}
.icon:hover{
    
    cursor:pointer;
    filter:brightness(101%);
    box-shadow:0px 0px 10px 4px rgba(0,0,0,0.3);
   
}
