.login_button a{
    color: white !important;
    
}


.kkbox_list{
    margin: auto;
    max-width: 70vw;
}

@media screen and (max-width: 760px) {
    .kkbox_list{
        margin: auto;
        max-width: none;
    }

}
.button_icon{
    position: relative;
    right: 10px;
    top: 4px;
    height: 20px;
}