#spotify {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #282828;
    background-image: linear-gradient(to right bottom, rgb(71, 78, 70), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}