.putting_box {
	margin: 5% auto !important;
	position: fixed !important;
	z-index: 99;
	top: 200px;
	left: 0;
	right: 0;
	width: 80vw !important;
	height: 80px !important;
}

.putting_icon {
	margin: 0;
	height: 50px;
	padding-right: 15px;
}