#spotify {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 110vw;
	background-color: #282828;
	background-image: linear-gradient(to right bottom, rgba(117, 68, 153, 0.7), #72182096), linear-gradient(transparent, black 70%);
}

.sp_track_box {
	max-height: 64px;
	color: white;
	margin-bottom: 3px;
}

.spotify_box:hover {
	background: rgba(0, 0, 0, 0.5);
	color: white !important;
	cursor: pointer !important;
	transition-duration: 0.2s;
}

.sp_title_box {
	max-width: 94%;
	position: relative;
	bottom: 55px;
	left: 130px;
	h3 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
		margin-bottom: 3px;
	}
	p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
		color: #b3b3b3;
	}
}

.sp_play_Icon {
	float: left;
	padding-right: 3px;
	margin: 3px;
	position: relative;
	left: 100px;
	top: 11px;
}

.duration_ms {
	position: relative;
	bottom: 56px;
	right: 100px;
	text-align: right;
}

.sp_column {
	padding: 0 200px !important;
}

.sp_img {
	width: 64px;
	height: 64px;
}

.green {
	color: #1dd560 !important;
}

@media screen and (max-width: 760px) {
	.duration_ms {
		bottom: 56px;
		left: 36px;
	}
	.sp_play_Icon {
		left: 4px;
	}
	.sp_img {
		visibility: hidden;
	}
	.sp_title_box {
		left: 37px;
		max-width: 94%;
	}
	.sp_title_box > h3 {
		max-width: 82%;
	}
	.sp_title_box > p {
		max-width: 82%;
	}
	.sp_column {
		padding: unset !important;
	}
	
}

