.kk_item {
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.kk_play_button {
	background-color: #f0f2f5 !important;
	padding: 5px !important;
	width: 100% !important;
}

.kk_play_button:hover {
	background-color: #cacbcd !important;
}
