.login_button {
	position: relative;
	top: 100px;
}

.login_button a {
	color: white !important;
	display: block;
	width: 200px;
}

@media screen and (max-width: 380px) {
	.button_icon {
		right: 105px !important;
		top: 40px !important;
		left: unset !important;
	}
	#kkbox_login {
		position: relative;
	}
}
.button_icon {
	margin-top: 20px;
	position: relative;
	left: 40px !important;
	top: 6px !important;
	height: 28px;
}
#kkbox_login {
	margin-top: 20px;
	text-align: center;
}

#spotify_login {
	text-align: center;
}
